{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_browse/view_page

    The browse activity page: embedded external content (or a link to it) next to the steps panel.

    Example context (json):
    {
        "embed": true,
        "contenturl": "https://example.com/survey?uid=3",
        "contenttitle": "Customer survey",
        "panelhtml": "<div>Steps panel</div>"
    }
}}
<div class="mod_browse-view">
    {{#embed}}
        <div class="row">
            <div class="col-lg-8 mb-3">
                <iframe src="{{contenturl}}" name="mod_browse_content_frame" title="{{contenttitle}}"
                    class="mod_browse-content-frame w-100 border rounded" style="min-height: 70vh;"></iframe>
            </div>
            <div class="col-lg-4 mb-3">
                {{{panelhtml}}}
            </div>
        </div>
    {{/embed}}
    {{^embed}}
        <div class="mb-3">
            <a href="{{contenturl}}" target="_blank" rel="noopener" class="btn btn-primary">
                {{#str}} opencontent, mod_browse {{/str}}
            </a>
        </div>
        {{{panelhtml}}}
    {{/embed}}
</div>
